.box{
    box-model: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;

}
button#number{
   width: 100%;
}

button#clear{
    width: 100%;
}

button#other{
    width: 100%;
}

button#solve{
    width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.form-group{
    position: relative;
    margin-bottom:15px;
}
.form-control {
    width: 100%;
    height: 50px;
    border: none;
    padding: 5px 7px 5px 15px;
    background: #fff;
    border: 2px solid #ddd;

}

.form-group .fa{
    position: absolute;
    right:15px;
    top:17px;
    color:#999;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*th { display: block; }
.users-table tbody {
    height: 400px;
    overflow-y:scroll;
}*/

table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 80px;

    /*text-align: left;*/
}

tbody {
    height: 500px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.8%;
    float: left;
}

.loading {
    position: fixed;
    top: 30%;
    left:30%;
    margin: 5em;
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.style-1 {
    border-style: solid;
    border-color: #444 transparent;
}

.style-2 {
    border-style: double;
    border-color: #ccc transparent;
}

.style-3 {
    border-style: double;
    border-color: #444 #fff #fff;
}

@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
    100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
    100% {  transform: rotate(359deg); }
}